---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  height: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
  text-align: justify;
  position: relative;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  &.home{
    text-align: center;
    padding-top: 40px;
    .goto_kaggle{
      width: 300px;
      margin: 30px auto;
      border: 1px solid gray;
      border-radius: 5px;
      color: #2f4f4f;
      padding: 5px;
      cursor: pointer;
    }
    .login_github{
      width: 300px;
      margin: 30px auto;
      border: 1px solid gray;
      border-radius: 5px;
      color: #fff;
      padding: 5px;
      cursor: pointer;
      background-color: #008200;
    }
    .logout_github{
      width: 300px;
      margin: 30px auto;
      border: 1px solid gray;
      border-radius: 5px;
      color: #fff;
      padding: 5px;
      cursor: pointer;
      background-color: #c63434;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $darkGray;
  text-decoration: none;
	cursor: pointer;
  color: $blueLink;
  font-weight: bold;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
  color: $darkerGray;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;
  h1, h3{
    margin:0;
  }
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox]#toggletoc:checked ~ .toc {
  display: block;
  margin-left: -10px;
  opacity: 1;
  height: 100%;
}
input[type=checkbox]#toggletoc ~ #main .breadcrumb .toc-icon { 
  @media screen and (max-width: 1300px){
    position: fixed;
    top: 22px;
    left: 10px;
  }
}
input[type=checkbox]#toggletoc:checked ~ #main .breadcrumb .toc-icon { 
  position: fixed;
  top: 22px;
  left: 260px;
  @media screen and (max-width: 1300px){

  }
}
input[type=checkbox]#toggleheader:checked ~ .toc {
  top:-10px;
}
input[type=checkbox]#toggleheader:checked ~ .wrapper-masthead .container > header { 
  opacity: 0;
  height: 0;
  display: none;
}
.toc {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  padding: 16px;
  padding-right: 0;
  display: none;
  clear: both;
  width: 300px;
  float: left;
  top: 0px;
  left: 10px;
  position: fixed;
  overflow: hidden;
  z-index: 4;
  opacity: 0;
  height: 0;
  div{
    font-size: 30px;
    margin-bottom: 20px;
    margin-right: 15px;
    color: #fff;
    border-bottom: 1px solid rgb(255,255,255);
  }
  ul{
    list-style-type: none;
    padding: 16px 0;
    text-align: left;
    height: 95%;
    overflow: auto;
    right: -20px;
    margin-top: 34px;
    top: -40px;
    position: relative;
    li{
      cursor: pointer;
      border-bottom: 1px solid rgba(255,255,255,.1);
      margin-right: 20px;
      a{
        &:hover{
        color: #4183C4;
        }   
      }
      ol{
        list-style-type: none;
        color: #fff;
        padding-left: 25px;
        padding-bottom: 20px;
        li{
          padding: 4px 0;
          border:0;
          &:hover{
            background-color: rgba(255,255,255,.1);
          }
        }
      }
    }
    span{
      text-transform: uppercase;
    }
    span, a{
      color: #fff;
      font-size: 14px;
    }
  }
}

#main{
  padding-bottom: 40px;
  .breadcrumb{
    list-style-type: none;
    margin-top: -40px;
    padding: 0;
    .toc-icon{
      display: inline-block;
      width: 25px;
      height: 25px;
      margin-right: 20px;
      vertical-align: middle;
      cursor: pointer;
      position: fixed;
      top: 22px;
      left: 10px;
      z-index: 9;
      span{
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #d3531a;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        &:nth-child(1) {
          top: 2px;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          top: 18px;
        }
      }
    }
    .toggleheader{
      font-size: 25px;
      display: block;
      float: right;
      color: #d3531a;
      cursor: pointer;
    }
    li{
      display: inline-block;
      .breadcrumb-text{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;      
      }
    }
  }
}


.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.inactive{
  display:none;
}

.wrapper-footer {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  font-family: cursive;
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: relative;
  border-bottom: 15px solid grey;
  border-radius: 3px;
  left: -40px;
  display: inline-block;
  top: 42px;
  cursor: pointer;
  &:after{
    content: attr(data-rating);
    top: 20px;
    position: relative;
    text-align: center;
    width: 20px;
    display: inline-block;
    left: -10px;
    color: grey;  
    position: absolute;
  }
  &.loader{
    &:after{
      content: "";
      left: -20px;
      top: 14px;
      background-image: url(images/loader.gif);
      background-size: 40px 40px;
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 40px;
      position: absolute;
    }
  }
}
