<ul>
	<li>
		<span>Part &#x2160; Artificial Intelligence</span>
		<ol>
			<li><a href="{{ site.baseurl }}/intro-exercises">1. Introduction</a></li>
			<li><a href="{{ site.baseurl }}/agents-exercises">2. Intelligent Agent</a></li>
		</ol>
	</li>
	<li>
		<span>Part &#x2161; Problem-solving</span>
		<ol>
			<li><a href="{{ site.baseurl }}/search-exercises">3. Solving Problems By Searching</a></li>
			<li><a href="{{ site.baseurl }}/advanced-search-exercises">4. Beyond Classical Search</a></li>
			<li><a href="{{ site.baseurl }}/game-playing-exercises">5. Adversarial Search</a></li>
			<li><a href="{{ site.baseurl }}/csp-exercises">6. Constraint Satisfaction Problems</a></li>
		</ol>
	</li>
	<li>
		<span>Part &#x2162; Knowledge, reasoning, and planning</span>
		<ol>
			<li><a href="{{ site.baseurl }}/knowledge-logic-exercises">7. Logical Agents</a></li>
			<li><a href="{{ site.baseurl }}/fol-exercises">8. First Order Logic</a></li>
			<li><a href="{{ site.baseurl }}/logical-inference-exercises">9. Inference In First Order Logic</a></li>
			<li><a href="{{ site.baseurl }}/planning-exercises">10. Classical Planning</a></li>
			<li><a href="{{ site.baseurl }}/advanced-planning-exercises">11. Planning And Acting In The Real World</a></li>
			<li><a href="{{ site.baseurl }}/kr-exercises">12. Knowledge Representation</a></li>
		</ol>
	</li>
</ul>