<ul>
	<li>
		<span>Part &#x2160; Artificial Intelligence</span>
		<ol>
			<li><a href="{{ site.baseurl }}/intro-exercises">1. Introduction</a></li>
			<li><a href="{{ site.baseurl }}/agents-exercises">2. Intelligent Agent</a></li>
		</ol>
	</li>
	<li>
		<span>Part &#x2161; Problem-solving</span>
		<ol>
			<li><a href="{{ site.baseurl }}/search-exercises">3. Solving Problems By Searching</a></li>
			<li><a href="{{ site.baseurl }}/advanced-search-exercises">4. Beyond Classical Search</a></li>
			<li><a href="{{ site.baseurl }}/game-playing-exercises">5. Adversarial Search</a></li>
			<li><a href="{{ site.baseurl }}/csp-exercises">6. Constraint Satisfaction Problems</a></li>
		</ol>
	</li>
</ul>