---
layout: default
---

<article class="post">

  <div class="entry">
    {{ content }}
  </div>

<!--   <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
 -->
  {% include disqus.html %}
</article>

<script type="text/javascript">
var chapter  = {{ page.permalink }}
var chapterName = String(chapter).replace(/[//]/g, "")
$.get( "https://aima-exercises.firebaseapp.com/rating"+chapter, function( data ) {
  console.log(data)
  $("i[data-chapter='"+chapterName+"']").each(function(index,element){
  	ex = $(element).data("exercise")
  	if(ex in data){
  		console.log(data[ex])
  		$(element).attr("data-rating",data[ex])
  	}
  })

});



</script>